:root {
    --fadak-primary: #003d6a; /* آبی تیره و حرفه‌ای */
    --bs-secondary: #ac923e; /* طلایی برای تاکید */
    --fadak-keremi: #f3ecd9;


    --bs-primary-rgb: 26, 58, 95;
    --bs-secondary-rgb: 243, 156, 18;


}
