body {
    font-family: var(--font-Modam), sans-serif;
    font-weight: 100;
}

h1 {
    font-weight: bold; /* ExtraBold */
    color: var(--fadak-navy);
}

h2 {
    font-weight: bold; /* Bold */
    color: var(--fadak-navy);
}

p {
    font-weight: 100; /* Light */
    color: var(--fadak-navy);
    text-align: justify;
}
