
/* ====
 --------- (3.2) forms styles start ---------
 ==== */
.alert {
    transition: 1s;
    margin-bottom: -20px;
    margin-top: 10px;
    display: block;
}

label.error {
    color: red;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 100%;
}

.message-error.error {
    position: absolute;
    color: red;
    font-size: 14px;
}

.form-control {
    padding: 12px 24px;
    background: #FFF;
    border: 1px solid #DFE0E4;
    border-radius: 30px;
    font-size: 14px;
    color: #222E48;
}
.form-control:focus {
    border-color: #2660B5;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.input-group {
    justify-content: space-between;
    align-items: center;
}
.input-group .input-single {
    width: calc(50% - 12px);
    position: relative;
}

.input-single {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input-single .label {
    color: #222E48;
    font-size: 18px;
    font-weight: 500;
}
.input-single .label span {
    color: #6A7283;
    font-weight: 400;
}
.input-single .headingFour {
    color: #222E48;
}

.input-pass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.input-pass .password-eye-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-pass .password-eye-icon:after {
    content: "\f340";
    font-family: "bootstrap-icons";
    font-weight: 600;
    padding-right: 44px;
    position: absolute;
    font-size: 20px;
    color: #798090;
    transition: all 0.35s ease-in-out;
}

.filter__search .input-group {
    border-radius: 30px;
    border: 1px solid #DFE0E4;
    background: rgba(7, 76, 62, 0.03);
}
.filter__search .input-group .form-control {
    background: transparent;
    border: none;
    padding: 12px 20px;
}
.filter__search .input-group .search_icon {
    padding-right: 20px;
    font-size: 24px;
    background: transparent;
}

@media (max-width: 767px) {
    textarea.form-control {
        max-height: 120px;
    }
}
@media (max-width: 575px) {
    .input-group {
        display: flex;
        gap: 20px;
    }
    .input-group .input-single {
        width: 100%;
    }
}
/* ====
 --------- (3.2) forms styles end ---------
 ==== */