
.white-bg {
  background: #ffffff !important;
}

.white-clr {
  color: #ffffff !important;
}

.primary-bg {
  background: #2660B5;
}

.primary-clr {
  color: #2660B5;
}

.secondary-clr {
  color: #FCB650;
}

.secondary-clr2 {
  color: #EB7A23;
}

.secondary-bg {
  background: #FCB650;
}

.secondary-bg2 {
  background: #EB7A23;
}

.cmn-bg1 {
  background: #132F59;
}

.cmn-bg2 {
  background: rgba(19, 47, 89, 0.05);
}

.black-clr {
  color: #222E48;
}

.pra-clr {
  color: #404A60;
}

.primary-clr {
  color: #2660B5;
}

.secondary-clr {
  color: #FCB650 !important;
}

.secondary-clr2 {
  color: #EB7A23 !important;
}

.secondary-clr3 {
  color: #1F783E !important;
}

.container.container-cus {
  max-width: 1560px;
  margin: 0 auto;
}

.w-100 {
  width: 100% !important;
}


/* ==== 
 --------- (3.4) faq styles start ---------
 ==== */
.accordion_bg {
  background: white !important;
}

.accordion {
  --bs-accordion-bg: $neutral-n-40;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion .accordion-item {
  padding: 12px 20px;
  --bs-accordion-border-width: 0;
  border-radius: 16px;
  border: 1px solid #DFE0E4;
  background: rgba(19, 47, 89, 0.05);
}
.accordion .accordion-item .accordion-body {
  padding: 0;
  color: #222E48;
  padding-top: 12px;
  margin-top: 12px;
}
.accordion .accordion-item .accordion-body p {
  font-size: 14px;
  color: #222E48;
}
.accordion .accordion-item .show .accordion-body {
  position: relative;
}
.accordion .accordion-item .show .accordion-body:before {
  content: "";
  position: absolute;
  border-top: 1px dotted #C1C4CC;
  width: 100%;
  top: 0;
  opacity: 1;
}
.accordion .accordion-button {
  --bs-accordion-btn-bg: $tertiary-color;
  --bs-accordion-btn-color: $head-color;
  padding: 0;
  position: relative;
  --bs-accordion-btn-bg: $tertiary-color;
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
}
.accordion .accordion-button::after {
  --arrow: "";
  content: var(--arrow);
  font-family: "bootstrap-icons";
  font-weight: normal;
  font-size: 24px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  --bs-accordion-btn-icon-width: 1.75rem;
  background: #2660B5;
  color: white;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.35s ease-in-out;
}
.accordion .accordion-button:not(.collapsed) {
  --bs-accordion-active-color: $head-color;
  --bs-accordion-active-bg:$tertiary-color;
  --bs-accordion-btn-icon-transform: rotate(180deg);
}
.accordion .accordion-button:not(.collapsed)::after {
  --arrow: "";
  font-family: "bootstrap-icons";
  font-weight: normal;
  background: #EB7A23;
}
.accordion .accordion-button:focus {
  border-color: transparent;
  box-shadow: unset;
}

@media (max-width: 767px) {
  .accordion .accordion-button {
    font-size: 16px;
  }
  .accordion .accordion-button::after {
    width: 30px;
    min-width: 30px;
    height: 30px;
  }
}
/* ==== 
 --------- (3.5) custom-animation styles start ---------
 ==== */
@keyframes custom__flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  50% {
    transform: perspective(400px) rotateY(90deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}
@keyframes fadeRotated {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: rotate(-15deg) scale(1.1);
    opacity: 1;
  }
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.7;
  }
}
@keyframes previewShape {
  0% {
    transform: translateX(-30px) translateY(0);
  }
  50% {
    transform: translateX(0px) translateY(5px);
  }
  100% {
    transform: translateX(-30px) translateY(0);
  }
}
@keyframes previewShapeUp {
  0% {
    transform: translateX(-30px) translateY(0);
  }
  50% {
    transform: translateX(0px) translateY(-5px);
  }
  100% {
    transform: translateX(-30px) translateY(0);
  }
}
@keyframes previewUp {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes previewShapeX {
  0% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@keyframes previewShapeRevX {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes previewShapeY {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(30deg) scale(1.5);
  }
}
@keyframes rotate360deg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinSmall {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  30% {
    transform: rotate(-30deg) scale(0.8);
  }
  60% {
    transform: rotate(-90deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(0.7);
  }
  100% {
    transform: rotate(120deg) scale(1);
  }
}
@keyframes swingZoom {
  20% {
    transform: rotate(15deg) scale(1.08);
  }
  40% {
    transform: rotate(-15deg) scale(1.2);
  }
  60% {
    transform: rotate(9deg) scale(1.1);
  }
  80% {
    transform: rotate(-9deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes fadeInTopLeft {
  0% {
    opacity: 0.3;
    transform: translate(-20px, -20px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(-20px, -20px);
    opacity: 0.3;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

/* ==== 
 --------- styles start ---------
 ==== */
.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-box {
  z-index: 1;
  background-color: #fff;
  border-radius: 26px;
  width: 48px;
  border: 1px solid #DFE0E4;
  height: 48px;
}
.language-box .nice-select {
  background-color: transparent;
  color: #000;
  z-index: 3;
}
.language-box .nice-select::after {
  display: none;
}
.language-box .nice-select .current {
  opacity: 0;
  color: #000;
  z-index: 2;
  position: relative;
}
.language-box .icon {
  position: absolute;
  z-index: 2;
  color: #404A60;
  font-size: 22px;
}
.language-box.style2 {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

.cmn__search-icon {
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 26px;
  border: 1px solid #DFE0E4;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  gap: 0;
}
.cmn__search-icon:hover {
  background-color: #2660B5;
  color: #ffffff;
}
.cmn__search-icon:hover i {
  color: #ffffff;
}

.index .navbar .navbar-toggler i {
  color: #222E48;
}

.border-one {
  border-bottom: 1px solid rgba(34, 46, 72, 0.15);
}

.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 299;
}
.header-section .container {
  max-width: 1770px;
  margin: 0 auto;
}
.header-section .navbar {
  padding: 20px 0;
  margin: 0;
  position: relative;
  gap: 40px;
}
.header-section .navbar .navbar-toggler {
  font-size: x-large;
  border: none;
  color: #ffffff;
  border: none !important;
}
.header-section .navbar .navbar-toggler i {
  font-size: 29px;
}
.header-section .navbar .navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.header-section .navbar .hline {
  width: 1px;
  opacity: 0.5;
  background: #FFF;
  height: 52px;
}
@media screen and (max-width: 1199px) {
  .header-section .navbar .hline {
    display: none;
  }
}
.header-section.header-version5 {
  padding-top: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.header-section.header-version5.header-active {
  padding-top: 0;
  background: linear-gradient(90deg, #132f59 0%, rgb(19, 47, 89) 18.81%, rgba(19, 47, 89, 0.8) 34.63%, rgb(19, 47, 89) 54.23%, rgba(19, 47, 89, 0.4) 67.36%, rgba(19, 47, 89, 0.661) 100%);
}
.header-section.header-version5 .navbar-nav {
  align-items: center;
}
.header-section.header-version5 .header-fiffrent-form {
  height: 50px;
}
.header-section.header-version5 .header-fiffrent-form .search_icon {
  background: #EB7A23;
}
@media screen and (max-width: 1850px) {
  .header-section.header-version5 {
    padding-top: 0;
  }
}

.navbar-brand {
  margin-right: 0;
}

.main-menu.index-page .navbar-nav .nav-item .nav-link {
  color: #404A60;
}

.main-menu {
  width: 100%;
  z-index: 299;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.main-menu .navbar-nav {
  display: flex;
  gap: 8px;
}
.main-menu .navbar-nav .dropdown-menu {
  max-height: 420px;
  overflow-y: auto;
}
.main-menu .navbar-nav .dropdown-menu::-webkit-scrollbar {
  width: 0.4vw;
}
.main-menu .navbar-nav .dropdown-menu::-webkit-scrollbar-track {
  background-color: #cae6f7;
}
.main-menu .navbar-nav .dropdown-menu::-webkit-scrollbar-button, .main-menu .navbar-nav .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #2660B5;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.main-menu .navbar-nav .nav-item .nav-link {
  line-height: 1.2;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-yekanbakh), sans-serif;
  color: #ffffff;
  padding: 24px 8px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.main-menu .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
  border: none;
  content: "\f4fe";
  font-size: 18px;
  font-family: "bootstrap-icons";
  margin-left: auto;
  transform: rotate(0deg);
  transition: all 0.35s ease-in-out;
  color: #404A60;
}
.main-menu .navbar-nav .nav-item .nav-link:focus, .main-menu .navbar-nav .nav-item .nav-link:hover {
  color: #FCB650 !important;
}
.main-menu .dropdown-item.active,
.main-menu .dropdown-item:active {
  background-color: transparent !important;
}

.nav-right .nav-right__search {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-right .material-symbols-outlined {
  color: #ffffff;
  cursor: pointer;
}
.nav-right .nav-right__search-inner {
  margin-top: 30px;
  display: none;
  position: absolute;
  right: 0;
  width: 50%;
}
.nav-right .nav-right__search-inner .inner__form {
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0px 6px 12px -2px rgba(88, 82, 129, 0.08);
}
.nav-right .nav-right__search-inner .inner__form .form-control {
  padding: 16px;
  border: none;
}
.nav-right .nav-right__search-inner .search_icon {
  padding: 16px;
  background: #2660B5;
  color: #ffffff;
  border-radius: 5px;
}
.nav-right .nav-right__search-inner .search_icon i {
  font-size: 24px;
}
@media screen and (max-width: 1599px) {
  .nav-right .nav-right__search {
    gap: 14px;
  }
  .nav-right .nav-right__search .btn_theme {
    padding: 11px 19px 11px;
  }
  .nav-right .nav-right__search .header-fiffrent-form {
    display: none !important;
  }
}

.header-fiffrent-form {
  display: flex;
  align-items: center;
  border-radius: 100px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
}
.header-fiffrent-form input {
  background: transparent;
  border: unset;
  outline: none;
  height: 32px;
  color: #fff;
  padding-left: 10px;
}
.header-fiffrent-form input::-moz-placeholder {
  color: #C1C4CC !important;
}
.header-fiffrent-form input::placeholder {
  color: #C1C4CC !important;
}
.header-fiffrent-form ::-moz-placeholder {
  color: red;
}
.header-fiffrent-form ::placeholder {
  color: red;
}
.header-fiffrent-form .search_icon {
  width: 30px;
  height: 30px;
  background: #FCB650;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.header-fiffrent-form .search_icon i {
  color: #002922;
  font-size: 14px;
}

.nav-link.active {
  color: #FCB650 !important;
}

.header-active {
  position: fixed;
  top: -70px;
  transform: translateY(70px);
  transition: transform 0.5s;
  background: #132F59;
  left: 0;
  width: 100%;
}
.header-active .navbar:after {
  border-bottom: none;
}

.index.header-active {
  background: white;
}

.header-light .main-menu .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}
.header-light .main-menu .navbar-nav .nav-item .nav-link::after {
  color: #ffffff;
}
.header-light .main-menu .navbar-nav .nav-item .nav-link:hover::after {
  color: #FCB650;
}

.header-version3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 1599px) {
  .main-menu .navbar-nav {
    gap: 4px;
  }
  .main-menu .navbar-nav .nav-item .nav-link {
    padding: 24px 8px;
  }
}
@media (min-width: 1200px) {
  .offcanvas {
    display: none;
  }
  .offcanvas-backdrop.show {
    opacity: 0;
  }
  .nav-item .dropdown-menu {
    inset-inline-start: 0;
    inset-block-start: calc(100% + 0.5rem);
    pointer-events: none;
    min-width: 230px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    background: #2660B5;
    margin: 0;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 0;
    border-radius: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
  }
  .nav-item.nav-cus-item {
    position: initial !important;
  }
  .nav-item.nav-cus-item:hover .dropdown-menu {
    transform: translateY(-20px);
  }
  .nav-item .custom-dropdowns {
    width: 1296px;
    margin: 0 auto;
    text-align: center;
    left: calc(50% - 648px) !important;
    max-height: initial !important;
    overflow-y: initial !important;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
  }
  .nav-item .custom-dropdowns li {
    width: 19.4%;
  }
  .nav-item .custom-dropdowns li .dropdown-item {
    padding: 0px 8px;
    background: #2660B5;
    border-radius: 10px;
    padding: 8px;
  }
  .nav-item .custom-dropdowns li .dropdown-item img {
    border-radius: 10px;
  }
  .nav-item .custom-dropdowns li .dropdown-item .text-cus {
    padding: 7px 3px 8px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .nav-item .custom-dropdowns li:hover a {
    background: #2660B5 !important;
    transform: translateX(0px) !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .nav-item .custom-dropdowns {
    flex-wrap: nowrap;
    width: 1000px;
    left: calc(50% - 500px) !important;
  }
  .nav-item .custom-dropdowns li {
    width: 19.4%;
  }
}
@media (min-width: 1200px) {
  .nav-item .dropdown-menu li {
    margin-left: 0;
    text-align: left;
  }
  .nav-item .dropdown-menu li a {
    padding: 9px 15px 9px 25px;
    line-height: 1.4;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .nav-item .dropdown-menu li:hover a {
    color: #ffffff;
    transform: translateX(8px);
    background: transparent;
    width: 90%;
  }
  .main-menu .navbar-nav .nav-item:hover .nav-link.dropdown-toggle::after {
    content: "\f2ea";
    transform: rotate(-180deg);
  }
  .nav-item:hover > .dropdown-menu {
    inset-block-start: 100%;
    pointer-events: unset;
    visibility: visible;
    opacity: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: transparent !important;
  }
}
@media (max-width: 1399px) {
  .navbar-brand img {
    max-width: 75% !important;
  }
}
@media (max-width: 1199px) {
  .nav-item .nav-link .dropdown-toggle.show::after {
    content: "\f2ea";
    transform: rotate(90deg);
    transition: all 0.35s ease-in-out;
  }
  .offcanvas {
    background-color: #2660B5;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    min-width: 100%;
    width: 100%;
    overflow: clip !important;
    display: unset !important;
    border-left: none !important;
  }
  .offcanvas .offcanvas-body {
    padding: 0;
    overflow: clip;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left {
    padding: 65px 30px 40px 60px;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: 100vh;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left::-webkit-scrollbar {
    width: 0;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav .dropdown-toggle::after {
    border: none;
    content: "\f4fe";
    font-family: "bootstrap-icons";
    font-size: 24px;
    margin-left: auto;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav .dropdown-toggle.show::after {
    border: none;
    content: "\f2ea";
    font-family: "bootstrap-icons";
    font-size: 30px;
    margin-left: auto;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 0;
    border-bottom: 1px solid rgba(233, 248, 247, 0.1254901961);
    text-transform: capitalize;
    transition: all 0.35s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav li a:hover {
    color: #FCB650;
    background: transparent;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav .dropdown-menu.show {
    position: unset !important;
    margin-left: 20px !important;
    transform: translate(0px) !important;
    border: none !important;
    background: transparent;
  }
  .offcanvas .offcanvas-body .custom-nevbar__right {
    padding: 80px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }
  .offcanvas .offcanvas-body .custom-nevbar__right .custom-nevbar__right-location {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(228, 226, 226);
  }
  .offcanvas .offcanvas-body .custom-nevbar__right .custom-nevbar__right-location .contact {
    color: white;
  }
  .offcanvas .offcanvas-body button.close-icon {
    display: block;
    background: transparent;
    text-align: end;
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 9;
  }
  .offcanvas .offcanvas-body button.close-icon i {
    border: 1px solid #FCB650;
    border-radius: 50%;
    color: #FCB650;
    padding: 8px;
    font-size: 30px;
    transition: all 0.35s ease-in-out;
  }
  .offcanvas .offcanvas-body button.close-icon i:hover {
    border: 1px solid #E0F300;
    color: #E0F300;
  }
  .header-section .navbar {
    padding: 20px 0;
  }
  .header-section .navbar-toggler span {
    color: white;
  }
  .main-menu {
    display: block;
    height: 80vh;
    overflow-y: auto;
  }
  .main-menu::-webkit-scrollbar {
    width: 0;
  }
  .main-menu .navbar-nav {
    margin-top: 30px;
  }
  .main-menu .navbar-nav .nav-item .nav-link {
    padding: 10px 8px;
    justify-content: start;
  }
  .main-menu .navbar-nav .nav-item .nav-link:hover:before {
    display: none;
  }
  .main-menu .navbar-nav .dropdown-menu {
    background: transparent;
    border: none;
    margin-left: 30px;
  }
  .main-menu .navbar-nav .dropdown-menu li a {
    padding: 9px 15px 9px 25px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
  }
  .main-menu .navbar-nav .dropdown-menu li a :hover {
    color: #FCB650;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: transparent !important;
  }
}
@media (max-width: 991px) {
  .offcanvas .offcanvas-body button.close-icon i {
    padding: 7px;
    font-size: 26px;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav li a {
    font-size: 24px;
    padding: 18px 0;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav .dropdown-menu.show {
    margin-left: 30px !important;
  }
  .offcanvas .offcanvas-body .custom-nevbar__right .custom-nevbar__right-location li .contact {
    font-size: 18px !important;
  }
}
@media (max-width: 767px) {
  .offcanvas .offcanvas-body {
    overflow-y: auto;
    min-height: 100%;
    height: 100%;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left {
    padding: 85px 70px 0;
    max-height: none;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav li a {
    font-size: 20px;
    padding: 18px 0;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav .dropdown-toggle.show::after, .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav .dropdown-toggle::after {
    font-size: 20px;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left .custom-nevbar__nav .menu_item:first-child > a {
    padding-top: 0;
  }
  .offcanvas .offcanvas-body button.close-icon span {
    font-size: 24px;
  }
  .offcanvas .offcanvas-body .custom-nevbar__right {
    padding: 60px 70px 0;
  }
  .offcanvas .offcanvas-body .custom-nevbar__right .custom-nevbar__right-location li .contact {
    font-size: 18px !important;
  }
}
@media (max-width: 575px) {
  .main-menu .col-12 {
    max-width: 100%;
  }
  .main-menu {
    padding: 0;
  }
  .header-section .navbar .navbar-brand {
    width: 60%;
    padding-left: 0;
  }
  .header-section .navbar-toggler span {
    margin-right: 0;
  }
  .offcanvas .offcanvas-body .custom-nevbar__left {
    padding: 80px 30px 0;
  }
  .offcanvas .offcanvas-body .custom-nevbar__right {
    padding: 50px 30px 0;
  }
}
@media (max-width: 400px) {
  .header-section .navbar .navbar-brand {
    padding-left: 12px;
  }
}

.about-thumbv3 {
  animation: updown 5s linear;
  direction: rtl;
}
.about-thumbv3 img {
  max-width: unset;
}
@media screen and (max-width: 1399px) {
  .about-thumbv3 img {
    width: 100%;
  }
}

@keyframes updown {
  50% {
    transform: translateY(20px);
  }
}
#chart1,
#chart2,
#chart3 {
  width: 260px;
  height: initial;
  position: relative;
}

.chart-items {
  margin: -28px;
}

.about-progress {
  margin-top: 48px;
  margin-bottom: 65px;
  color: rgb(38, 96, 181);
}
.about-progress .test {
  color: #222E48;
  font-family: var(--font-yekanbakh), sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 1399px) {
  .about-progress #chart1,
  .about-progress #chart2,
  .about-progress #chart3 {
    width: 220px;
  }
}
@media screen and (max-width: 1199px) {
  .about-progress #chart1,
  .about-progress #chart2,
  .about-progress #chart3 {
    width: 200px;
  }
  .about-progress .test {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .about-progress {
    margin-top: 34px;
    margin-bottom: 55px;
  }
  .about-progress #chart1,
  .about-progress #chart2,
  .about-progress #chart3 {
    width: 180px;
  }
  .about-progress .test {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .about-progress {
    flex-wrap: wrap;
    margin-top: 9px;
    margin-bottom: 30px;
  }
  .about-progress .chart-items {
    margin: 0;
  }
  .about-progress #chart1,
  .about-progress #chart2,
  .about-progress #chart3 {
    width: 180px;
  }
  .about-progress .test {
    font-size: 12px;
  }
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-sectionv4 .about4-shape {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.about-thumbv4 {
  width: 620px;
  margin-left: -100px;
  animation: upss 5s linear;
}
.about-thumbv4 img {
  width: 100%;
}
@media screen and (max-width: 1399px) {
  .about-thumbv4 {
    margin-left: -20px;
    width: 100%;
  }
  .about-thumbv4 img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .about-thumbv4 {
    margin-left: 0;
    max-width: 400px;
    margin: 0 auto;
  }
}

.about-mission-vission .nav {
  border-bottom: 1px solid #2660B5;
  margin-bottom: 40px;
}
.about-mission-vission .nav li button {
  font-size: 16px;
  font-weight: 600;
  color: #404A60;
  border-radius: 100px;
  padding: 12px 20px;
  border: unset;
  outline: none;
}
.about-mission-vission .nav li button.active {
  background: #2660B5;
  color: #FFF !important;
  border-radius: 100px;
  padding: 10px 20px;
}
@media screen and (max-width: 1399px) {
  .about-mission-vission .nav {
    margin-bottom: 20px;
  }
}
.about-mission-vission .mission-body .thumb-mission {
  z-index: 1;
}
.about-mission-vission .mission-body .thumb-mission::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(3, 33, 27, 0.3);
  border-radius: 12px;
}
.about-mission-vission .mission-body .thumb-mission .cmn__video {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EB7A23;
}
.about-mission-vission .mission-body .thumb-mission .cmn__video i {
  font-size: 20px;
}
.about-mission-vission .mission-body .mission-content {
  margin-bottom: 40px;
}
.about-mission-vission .mission-body .mission-content .mission-list li {
  font-size: 20px;
  color: #404A60;
}
.about-mission-vission .mission-body .mission-more .icon {
  width: 54px;
  height: 54px;
  background: #EB7A23;
}
.about-mission-vission .mission-body .mission-more .icon i {
  font-size: 22px;
  color: #ffffff;
}
.about-mission-vission .mission-body .mission-more .cont span {
  color: #222E48;
  font-size: 16px;
}
.about-mission-vission .mission-body .mission-more .cont a {
  color: #222E48;
  font-weight: 600;
}
@media screen and (max-width: 1399px) {
  .about-mission-vission .mission-body .mission-content {
    margin-bottom: 16px;
  }
}

@keyframes upss {
  50% {
    transform: translateY(10px);
  }
}
.mission-circleing {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}
.mission-circleing .counted-area {
  position: relative;
}
.mission-circleing .counted-area .cout {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.mission-circleing .counted-area .cout span {
  font-size: 20px;
  font-weight: 500;
}
.mission-circleing .line {
  background: rgba(252, 182, 80, 0.5);
  width: 1px;
  height: 90px;
}
@media screen and (max-width: 1199px) {
  .mission-circleing {
    margin: 24px 0;
    gap: 20px;
  }
  .mission-circleing .line {
    height: 60px;
  }
  .mission-circleing svg {
    width: 65px;
  }
  .mission-circleing span {
    font-size: 16px;
  }
  .mission-circleing .counted-area .cout span {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .mission-circleing {
    margin: 10px 0;
    gap: 10px 16px;
    flex-wrap: wrap;
  }
  .mission-circleing .line {
    display: none;
  }
  .mission-circleing svg {
    width: 55px;
    height: 55px;
  }
  .mission-circleing span {
    font-size: 14px;
  }
  .mission-circleing .counted-area .cout span {
    font-size: 16px;
  }
}

.about-content5 .mission-content {
  margin-bottom: 40px;
}
.about-content5 .mission-content .mission-list {
  display: grid;
  gap: 12px 14px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 500px) {
  .about-content5 .mission-content .mission-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 9px 14px;
    margin-top: 20px;
  }
}
.about-content5 .mission-more .icon {
  background: #EB7A23;
  width: 54px;
  height: 54px;
}
.about-content5 .mission-more .icon i {
  font-size: 22px;
  color: #ffffff;
}
.about-content5 .mission-more .cont span {
  font-size: 16px;
  color: #222E48;
}
.about-content5 .mission-more .cont a {
  color: #222E48;
  font-size: 18px;
  font-weight: 500;
}

.about5-ele {
  position: absolute;
  right: 30px;
  bottom: 40px;
  animation: updown 2s linear infinite;
}
@media screen and (max-width: 1199px) {
  .about5-ele {
    width: 50px;
    right: 10px;
    bottom: 20px;
  }
}

.about5-thumb {
  direction: rtl;
}
.about5-thumb img {
  max-width: unset;
}
@media screen and (max-width: 1199px) {
  .about5-thumb {
    direction: ltr;
    width: 100%;
  }
  .about5-thumb img {
    width: 100%;
  }
}

.ammount-comparison {
  background: rgba(0, 41, 34, 0.05);
  padding-top: 200px;
  padding-bottom: 120px;
}
@media screen and (max-width: 991px) {
  .ammount-comparison {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}
.ammount-comparison .loan-reviews::before {
  display: none;
}
.ammount-comparison .loan-reviews .loan-reviews_card .loan-reviews__part-one {
  border: 1px solid #DFE0E4;
  border-radius: 12px;
  padding: 12px;
  gap: 16px;
}
.ammount-comparison .loan-reviews .loan-reviews_card .loan-reviews__part-one .star_review {
  font-size: 20px;
}
.ammount-comparison .loan-reviews .loan-reviews_card .loan-reviews__part-one .k-review {
  font-size: 14px;
  color: #404A60;
}
.ammount-comparison .loan-reviews .loan-reviews_card .price-content {
  max-width: 270px;
}
.ammount-comparison .loan-reviews .loan-reviews_card .price-content .form-price {
  gap: 8px;
  font-size: 16px;
  color: #404A60;
  margin-bottom: 14px;
}
.ammount-comparison .loan-reviews .loan-reviews_card .price-content .form-price h3 {
  color: #222E48;
}
.ammount-comparison .loan-reviews .loan-reviews_card .price-content p {
  font-size: 12px;
  color: #222E48;
}
.ammount-comparison .loan-reviews .loan-reviews_card .loan-reviews__part-three .btn-group {
  gap: 10px;
}
.ammount-comparison .loan-reviews .loan-reviews_card .loan-reviews__part-three .apply-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #404A60;
  display: block;
  margin-bottom: 7px;
  text-align: start;
}
.ammount-comparison .loan-reviews .loan-reviews_card .loan-reviews__part-three .redmore {
  font-size: 14px;
  font-weight: 500;
  color: #074C3E;
}
.ammount-comparison .loan-reviews .loan-reviews_card .loan-reviews__part-three .btn_theme {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}
.ammount-comparison .loan-reviews .loan-reviews_card .interest-badge {
  font-size: 12px;
  color: #13203B;
  font-weight: 500;
  font-family: var(--font-yekanbakh), sans-serif;
  background: #FCB650;
  padding: 1px 40px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 7% 50%, 0% 0%);
  clip-path: polygon(100% 0, 100% 100%, 0% 100%, 7% 50%, 0% 0%);
  position: absolute;
  top: 0;
  right: -10px;
}
@media screen and (max-width: 1399px) {
  .ammount-comparison .loan-reviews .loan-reviews_card {
    gap: 16px;
    flex-wrap: nowrap;
  }
  .ammount-comparison .loan-reviews .loan-reviews_card .load-price-box {
    padding: 24px 16px;
  }
}
@media screen and (max-width: 1199px) {
  .ammount-comparison .loan-reviews .loan-reviews_card {
    gap: 16px;
    flex-wrap: wrap;
  }
  .ammount-comparison .loan-reviews .loan-reviews_card .load-price-box {
    padding: 24px 16px;
  }
}
.ammount-comparison.style2 {
  padding-top: 120px;
}
@media screen and (max-width: 1199px) {
  .ammount-comparison.style2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.ammount-comparison.style5 {
  padding-top: 90px;
}
@media screen and (max-width: 1199px) {
  .ammount-comparison.style5 {
    padding-top: 50px;
  }
}

.load-price-box {
  border-radius: 12px;
  border: 1px solid rgba(7, 76, 62, 0.1);
  background: rgba(7, 76, 62, 0.03);
  padding: 40px 32px;
}
.load-price-box .effect {
  font-size: 14px;
  color: #404A60;
  margin-bottom: 10px;
  display: block;
}
.load-price-box h5 {
  color: #404A60;
}

.ammount-comparison4-head {
  margin-bottom: 40px;
  display: flex;
  gap: 16px;
}
.ammount-comparison4-head .amount-item-form {
  width: 279px;
}
.ammount-comparison4-head .amount-item-form .amount-title {
  font-size: 18px;
  font-weight: 500;
}
.ammount-comparison4-head .amount-item-form input {
  padding: 12px 20px;
  width: 100%;
  background: #fff;
  color: #404A60;
  border-radius: 100px;
  border: 1px solid #DFE0E4;
}
.ammount-comparison4-head .amount-item-form ::-moz-placeholder {
  color: #404A60;
}
.ammount-comparison4-head .amount-item-form ::placeholder {
  color: #404A60;
}
.ammount-comparison4-head .amount-item-form .nice-select {
  width: 100%;
  background: #fff;
  color: #404A60;
  border-radius: 100px;
  padding: 12px 20px;
  border: 1px solid #DFE0E4;
  height: initial;
}
.ammount-comparison4-head .amount-item-form .nice-select::after {
  right: 18px;
  height: 7px;
  width: 7px;
}
.ammount-comparison4-head .amount-item-form .nice-select .list {
  width: 100%;
  background: #fff;
}
.ammount-comparison4-head .amount-item-form .nice-select .list li {
  color: #002922;
}
.ammount-comparison4-head .amount-item-form .nice-select .list li.option.selected.focus {
  background: #ebebeb;
}
.ammount-comparison4-head .amount-item-form .nice-select .list li.option.focus {
  background: #ebebeb;
}
.ammount-comparison4-head .amount-item-form .nice-select .list li:hover {
  background: #ebebeb;
}
.ammount-comparison4-head .amount-item-filter .funnel {
  background: #2660B5;
  border-radius: 100px;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .ammount-comparison4-head {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .ammount-comparison4-head {
    flex-wrap: wrap;
    display: grid;
    justify-content: center;
  }
}

.working-section.testimonial4 {
  position: relative;
  z-index: 1;
  background: transparent;
  background-color: #F2F3F3;
}
.working-section.testimonial4 .section__header {
  z-index: 1;
  position: relative;
}
.working-section.testimonial4::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 580px;
  /*background: url(../images/footer/footer4-bg.html) no-repeat center center;*/
  background-size: cover;
}
.working-section.testimonial4 .card {
  padding: 24px 24px;
  background: #FFF;
  border: unset;
  border-left: 3px solid #FCB650;
  display: initial !important;
  gap: 0;
  margin-bottom: 40px;
}
.working-section.testimonial4 .card .author__thumg {
  text-align: start;
  width: 60px;
  height: 60px;
  margin-bottom: -60px;
}
.working-section.testimonial4 .card .author__thumg img {
  border-radius: 50%;
}
.working-section.testimonial4 .card .author__desi {
  margin-bottom: 0;
}
.working-section.testimonial4 .card .element-quote {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0.15;
}
.working-section.testimonial4 .card::after {
  display: none;
}
.working-section.testimonial4 .card .star_review i {
  font-size: 19px;
}
.working-section.testimonial4 .card p {
  font-size: 18px;
  margin-bottom: 32px;
}

.working-wrapper4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.working-wrapper4 .working-inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.working-wrapper4 .working-inner .working-items {
  max-width: 306px;
}
.working-wrapper4 .working-inner .working-items .icon {
  width: 80px;
  height: 80px;
  border: 1px dashed #ffffff;
  background: #2660B5;
  margin-bottom: 32px;
}
.working-wrapper4 .working-inner .working-items .icon img {
  filter: brightness(25);
  transition: all 0.5s;
  width: 45px;
}
.working-wrapper4 .working-inner .working-items .cont h3, .working-wrapper4 .working-inner .working-items .cont p {
  color: #000000;
}
.working-wrapper4 .working-inner .working-items:hover .icon img {
  transform: rotate(10deg);
}
@media screen and (min-width: 991px) {
  .working-wrapper4 .working-inner .working-items.style2 {
    text-align: end;
  }
  .working-wrapper4 .working-inner .working-items.style2 .icon {
    margin-left: auto;
  }
}
@media screen and (max-width: 1199px) {
  .working-wrapper4 .working-inner .working-items .icon {
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
  }
  .working-wrapper4 .working-inner .working-items .icon img {
    transition: all 0.5s;
    width: 34px;
  }
  .working-wrapper4 .working-inner .working-items .cont h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .working-wrapper4 .working-inner {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .working-wrapper4 .working-inner .working-items {
    text-align: center;
  }
  .working-wrapper4 .working-inner .working-items .icon {
    margin: 0 auto 18px;
  }
}
.working-wrapper4 .working-inner .working-ele-left1 {
  position: absolute;
  top: 40px;
  left: 80px;
}
.working-wrapper4 .working-inner .working-ele-left2 {
  position: absolute;
  bottom: 90px;
  left: 80px;
}
.working-wrapper4 .working-inner .wroking-ele-right1 {
  position: absolute;
  top: 40px;
  right: 80px;
}
.working-wrapper4 .working-inner .wroking-ele-right2 {
  position: absolute;
  top: 40px;
  right: 80px;
}
@media screen and (max-width: 500px) {
  .working-wrapper4 .working-inner {
    flex-wrap: wrap;
  }
}
@keyframes leftright {
  50% {
    transform: translateX(-10px);
  }
}
@media screen and (max-width: 991px) {
  .working-wrapper4 {
    display: grid;
  }
}

.working-video-area {
  max-width: 526px;
  height: 490px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}
.working-video-area video {
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 1199px) {
  .working-video-area {
    max-width: 400px;
    height: 450px;
  }
}
@media screen and (max-width: 991px) {
  .working-video-area {
    max-width: 400px;
    height: 380px;
  }
}

.step-process-item .icon-area {
  background: #2660B5;
  border: 1px dashed #FFF;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  margin: 0 auto 32px;
}
.step-process-item .icon-area .icon {
  width: 64px;
  height: 64px;
  background: #FFF;
  border-radius: 8px;
}
.step-process-item .icon-area .icon img {
  width: 40px;
}
.step-process-item .badge {
  font-size: 120px;
  font-weight: 600;
  color: rgba(38, 96, 181, 0.3);
  position: absolute;
  top: -130px;
  left: 10px;
}
@media screen and (max-width: 1199px) {
  .step-process-item .icon-area {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 991px) {
  .step-process-item .badge {
    font-size: 60px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
  }
}

.have-account {
  border: 1px solid rgba(235, 122, 35, 0.2);
  background: rgba(235, 122, 35, 0.05);
  border-radius: 12px;
  padding: 20px 24px;
  margin-top: 40px;
}

.choose-content5 .choose5-listing-info {
  margin: 40px 0;
  display: grid;
  gap: 30px;
}
.choose-content5 .choose5-listing-info .choose5-listing-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.choose-content5 .choose5-listing-info .choose5-listing-item .icon {
  width: 64px;
  height: 64px;
  min-width: 64px;
  border-radius: 43px;
  border: 1px solid rgba(7, 76, 62, 0.3);
  background: rgba(255, 255, 255, 0.1);
}
.choose-content5 .choose5-listing-info .choose5-listing-item .icon img {
  width: 34px;
  height: 34px;
  -o-object-fit: contain;
  object-fit: contain;
}
.choose-content5 .choose5-listing-info .choose5-listing-item h4 {
  color: #404A60;
}
.choose-content5 .choose5-listing-info .choose5-listing-item p {
  font-size: 16px;
  color: #404A60;
}
.choose-content5 .choose5-listing-info .choose5-listing-item .line {
  opacity: 0.5;
  background: #074C3E;
  height: 60px;
  width: 1px;
}
@media screen and (max-width: 575px) {
  .choose-content5 .choose5-listing-info {
    margin: 24px 0;
    gap: 10px;
  }
  .choose-content5 .choose5-listing-info .choose5-listing-item {
    gap: 14px;
  }
  .choose-content5 .choose5-listing-info .choose5-listing-item .icon {
    width: 54px;
    height: 54px;
    min-width: 54px;
  }
  .choose-content5 .choose5-listing-info .choose5-listing-item .icon img {
    width: 29px;
    height: 29px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .choose-content5 .choose5-listing-info .choose5-listing-item p {
    font-size: 14px;
  }
  .choose-content5 .choose5-listing-info .choose5-listing-item .line {
    display: none;
  }
}

.choose5-thumb {
  animation: updown 2s linear infinite;
}
.choose5-thumb img {
  max-width: unset;
}
@media screen and (max-width: 1199px) {
  .choose5-thumb {
    width: 100%;
  }
  .choose5-thumb img {
    width: 100%;
    max-width: 100%;
  }
}

.download-app3 .container {
  max-width: 1630px;
  margin: 0 auto;
}
.download-app3 .container .download-wrap {
  background: #002922;
  padding: 0 90px;
  border-radius: 16px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.download-app3 .container .download-wrap .section__content {
  max-width: 630px;
}
.download-app3 .container .download-wrap .section__content p {
  font-size: 16px;
}
.download-app3 .container .download-wrap .section__content .active-user-list {
  gap: 24px;
}
.download-app3 .container .download-wrap .section__content .active-user-list li {
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.download-app3 .container .download-wrap .section__content .active-user-list .active-million .users {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  display: block;
  margin-bottom: 0px;
}
.download-app3 .container .download-wrap .section__content .active-user-list .active-million .acuser span {
  font-size: 56px;
  font-weight: 600;
  color: #ffffff;
}
.download-app3 .container .download-wrap .section__content .active-user-list .active-million .acuser .mili {
  color: #FCB650;
}
.download-app3 .container .download-wrap .section__content .active-user-list .app-border {
  width: 1px;
  height: 105px;
  border-left: 1px dashed;
  display: block;
  background: rgba(252, 182, 80, 0.7);
}
.download-app3 .container .download-wrap .download-app__thumb3 {
  margin-bottom: -190px;
}
@media screen and (max-width: 1399px) {
  .download-app3 .container .download-wrap {
    padding: 60px 60px;
  }
}
@media screen and (max-width: 550px) {
  .download-app3 .container .download-wrap {
    padding: 60px 20px;
  }
  .download-app3 .container .download-wrap .section__content .active-user-list {
    flex-wrap: wrap;
  }
  .download-app3 .container .download-wrap .section__content .active-user-list .active-million .acuser span {
    font-size: 44px;
    line-height: 56px;
  }
  .download-app3 .container .download-wrap .section__content .active-user-list .active-million .acuser .mili {
    color: #FCB650;
  }
}

.download-app5 {
  /*background: url(../images/downloan-app-bg.html) no-repeat center center;*/
  background-size: cover;
  padding: 80px 0;
}
.download-app5 .section__content .section__header-sub-title {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #FCB650;
}
.download-app5 .section__content .section__header-sub-title img {
  width: 30px;
}
.download-app5 .section__content .section__content-list li::marker {
  color: #FCB650;
  font-size: 16px;
}
.download-app5 .section__content .btn-group .btn_theme {
  border-color: #FCB650;
}
.download-app5 .section__content .btn-group .btn_theme img {
  width: 110px;
  -o-object-fit: contain;
  object-fit: contain;
}

.download-app__thumb5 {
  z-index: 1;
}
.download-app__thumb5 .app-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: cir360 15s linear infinite;
}
@keyframes cir360 {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.testimonials-section3 {
  background: rgba(7, 76, 62, 0.05);
}
.testimonials-section3 .slider-navigation {
  position: absolute;
  right: 8px;
  bottom: 70px;
}
.testimonials-section3 .card {
  background: transparent;
}
.testimonials-section3 .card .star_review i {
  font-size: 24px;
}
.testimonials-section3 .card p {
  font-size: 24px;
}
.testimonials-section3 .card .testimonials__author .author__thumg {
  width: 60px;
  height: 60px;
}
.testimonials-section3 .card .testimonials__author .author__thumg img {
  width: 100%;
  border-radius: 50%;
}
.testimonials-section3 .card .testimonials__author .author__content span {
  font-size: 16px;
}
@media screen and (max-width: 575px) {
  .testimonials-section3 .card .star_review i {
    font-size: 20px;
  }
  .testimonials-section3 .card p {
    font-size: 20px;
  }
}
.testimonials-section3 .testimonial-thumv3 {
  border-radius: 50%;
  width: 306px;
  height: 306px;
}
.testimonials-section3 .testimonial-thumv3 img {
  border-radius: 50%;
}
.testimonials-section3 .testimonial-thumv3 .client-quote {
  position: absolute;
  right: -40px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.testimonials-section3 .testimonial-thumv3::before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 306px;
  height: 306px;
  border: 1px solid rgba(7, 76, 62, 0.5);
  content: "";
  border-radius: 50%;
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .testimonials-section3 .testimonial-thumv3 {
    width: 280px;
    height: 280px;
  }
  .testimonials-section3 .testimonial-thumv3 .client-quote {
    right: 40%;
  }
}
@media screen and (max-width: 991px) {
  .testimonials-section3 .slider-navigation {
    right: 8px;
    bottom: 5px;
  }
}

.testionial-section5 {
  position: relative;
}
.testionial-section5 .slider-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.testionial-section5 .slider-navigation button {
  background: rgba(0, 41, 34, 0.05);
}
.testionial-section5 .testimonial-review-inner1 {
  max-width: 1296px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.testionial-section5 .testimonial-review-inner1 img:nth-child(1) {
  animation: updown 2s linear infinite;
}
.testionial-section5 .testimonial-review-inner1 img:nth-child(2) {
  animation: leftright 2s linear infinite;
}
@media screen and (max-width: 991px) {
  .testionial-section5 .testimonial-review-inner1 {
    top: 20px;
  }
}
.testionial-section5 .testimonial-review-inner2 {
  max-width: 1776px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testionial-section5 .testimonial-review-inner2 img {
  width: 72px;
  height: 72px;
}
.testionial-section5 .testimonial-review-inner2 img:nth-child(1) {
  animation: leftright 2s linear infinite;
}
.testionial-section5 .testimonial-review-inner2 img:nth-child(2) {
  animation: updown 2s linear infinite;
}
.testionial-section5 .testimonial-review-inner3 {
  max-width: 1296px;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.testionial-section5 .testimonial-review-inner3 img:nth-child(1) {
  animation: updown 2s linear infinite;
}
.testionial-section5 .testimonial-review-inner3 img:nth-child(2) {
  animation: leftright 2s linear infinite;
}
@media screen and (max-width: 991px) {
  .testionial-section5 .testimonial-review-inner3 {
    bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .testionial-section5 .slider-navigation button {
    background: #2660B5;
  }
  .testionial-section5 .slider-navigation button i {
    color: #FFF;
  }
}
@media screen and (max-width: 575px) {
  .testionial-section5 .slider-navigation {
    position: initial;
    top: initial;
    transform: translateY(0);
    justify-content: center !important;
    width: initial !important;
  }
  .testionial-section5 .slider-navigation button {
    background: #2660B5;
  }
  .testionial-section5 .slider-navigation button i {
    color: #FFF;
  }
}

.testimonial-items5 .box {
  max-width: 850px;
  margin: 0 auto;
}
.testimonial-items5 .quote5-icon {
  width: 80px;
}
.testimonial-items5 p {
  font-size: 24px;
  color: #222E48;
  line-height: 32px;
}
@media screen and (max-width: 991px) {
  .testimonial-items5 .box {
    max-width: 700px;
  }
  .testimonial-items5 .box .quote5-icon {
    width: 40px;
  }
  .testimonial-items5 .box p {
    font-size: 18px;
    line-height: 26px;
  }
}

.banner__video {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
  background: #FCB650;
}
.banner__video .text__circle {
  position: absolute;
  animation: cir36 10s linear infinite;
}
.banner__video .cmn__video {
  background: #002922;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__video .cmn__video i {
  color: #ffffff;
  font-size: 38px;
}

@keyframes cir36 {
  100% {
    transform: rotate(360deg);
  }
}
.choose-content3 .section__content-inner ul li {
  font-size: 20px;
  font-weight: 500;
  color: #404A60;
}
.choose-content3 .section__content-pragraph {
  padding: 24px 28px;
  background: rgba(252, 182, 80, 0.1);
  border-left: 3px solid rgba(252, 182, 80, 0.3);
}

.choose-section4 {
  z-index: 1;
  position: relative;
}
.choose-section4 .choose4-element {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.choose-section4 .choose4-thumb {
  max-width: 890px;
  position: absolute;
  right: 154px;
  bottom: 0;
}
.choose-section4 .choose4-thumb img {
  max-width: unset;
}
.choose-section4 .choose-grow {
  position: absolute;
  top: 65px;
  right: 20px;
  animation: updown 2s linear infinite;
}
@media screen and (max-width: 1700px) {
  .choose-section4 .choose4-thumb {
    right: 134px;
    bottom: 0;
  }
  .choose-section4 .choose4-thumb img {
    max-width: unset;
  }
}
@media screen and (max-width: 1399px) {
  .choose-section4 .choose4-thumb {
    right: 144px;
    bottom: 0;
    width: 100%;
    max-width: 500px;
  }
  .choose-section4 .choose4-thumb img {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .choose-section4 .choose4-thumb {
    right: 20px;
    bottom: 0;
    width: 100%;
    max-width: 500px;
  }
  .choose-section4 .choose4-thumb img {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .choose-section4 .choose4-thumb {
    position: initial;
    right: 20px;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    margin: 0 auto -120px;
  }
  .choose-section4 .choose4-thumb img {
    max-width: 100%;
    width: 100%;
  }
  .choose-section4 .choose-grow {
    top: 20px;
    right: 10px;
    width: 80px;
  }
}

.section-header2 h2 {
  font-size: 54px;
}
@media screen and (max-width: 1399px) {
  .section-header2 h2 {
    font-size: 39px;
  }
}
@media screen and (max-width: 767px) {
  .section-header2 h2 {
    font-size: 29px;
  }
}

.choose-loan-item h4 {
  color: #404A60;
}
.choose-loan-item p {
  color: #404A60;
}
.choose-loan-item .icon {
  border-radius: 43px;
  border: 1px solid rgba(7, 76, 62, 0.3);
  background: rgba(255, 255, 255, 0.1);
  width: 64px;
  height: 64px;
}

.loan-amount-head .range-slider {
  position: relative;
  width: 100%;
  height: 30px;
}
.loan-amount-head .range-slider .slider-track-1,
.loan-amount-head .range-slider .slider-track {
  width: 100%;
  height: 7px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.loan-amount-head .range-slider input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  font-size: 13px;
}
.loan-amount-head .range-slider input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
.loan-amount-head .range-slider #range-slider-1[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
  display: none;
}
.loan-amount-head .range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 7px;
  height: 16px;
  background-color: #FFF;
  border-radius: 12px;
  border: 1.5px solid #2660B5;
  cursor: pointer;
  margin-top: -6px;
  pointer-events: auto;
}

.faq-thumb4 {
  direction: rtl;
}

.frequently-asking .accordion-item .accordion-header .accordion-button {
  border-radius: 100px;
  border: 1px solid rgba(19, 47, 89, 0.2);
  background: rgba(19, 47, 89, 0.05);
  padding: 12px 32px;
  font-size: 20px;
  font-weight: 600;
  color: #2660B5;
}
.frequently-asking .accordion-item .accordion-header .accordion-button::after {
  background: none;
  color: #2660B5;
  font-size: 34px;
}
.frequently-asking .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background: #2660B5;
  color: #fff;
}
.frequently-asking .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  color: #fff;
}
@media screen and (max-width: 500px) {
  .frequently-asking .accordion-item .accordion-header .accordion-button {
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
  }
  .frequently-asking .accordion-item .accordion-header .accordion-button::after {
    font-size: 29px;
  }
}
.frequently-asking .accordion-item .accordion-body::before {
  display: none;
}
.frequently-asking.style5 .accordion-item .accordion-header .accordion-button {
  border-radius: 12px;
}

.faq-thumb5 {
  z-index: 1;
}
.faq-thumb5 .faq-thumb-small {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  animation: zomin 2s linear infinite;
}
.faq-thumb5 .rocket-ele {
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: -1;
  animation: rots 3s linear infinite;
}
@media screen and (max-width: 480px) {
  .faq-thumb5 .faq-thumb-small {
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
  }
  .faq-thumb5 .rocket-ele {
    bottom: 0px;
    right: 0;
    width: 200px;
  }
}

@keyframes rots {
  50% {
    transform: rotate(10deg);
  }
}
.advantage-boxes .advantage-list li {
  font-size: 16px;
  color: #404A60;
}
.advantage-boxes .advantage-list li .arrows-icon {
  width: 32px;
}

.write-commnets .average-reviews__title {
  border-bottom: 1px dashed #C1C4CC;
  padding-bottom: 24px;
}
.write-commnets .write-form label {
  font-size: 20px;
  font-weight: 500;
  color: #222E48;
  margin-bottom: 12px;
  display: block;
}
.write-commnets .write-form textarea,
.write-commnets .write-form input {
  border-radius: 30px;
  border: 1px solid #DFE0E4;
  background: rgba(19, 47, 89, 0.03);
  width: 100%;
  padding: 12px 24px;
}
.write-commnets .write-form .rating {
  color: #FCB650;
  font-size: 20px;
}

.loan-adjustment-details {
  background: #FFF;
  border-radius: 12px;
  padding: 32px 32px;
  margin-bottom: 24px;
}
.loan-adjustment-details .loan-increment-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px 10px;
  border-bottom: 1px solid #DFE0E4;
  border-top: 1px solid #DFE0E4;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 32px;
}
.loan-adjustment-details .loan-increment-wrap .loan-increment-item {
  display: flex;
  gap: 18px;
}
.loan-adjustment-details .loan-increment-wrap .loan-increment-item .icon {
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: 1px solid #DFE0E4;
  background: rgba(19, 47, 89, 0.05);
}
.loan-adjustment-details .loan-increment-wrap .loan-increment-item .cont .amout-titles {
  font-size: 14px;
  color: #404A60;
  display: block;
  margin-bottom: 4px;
}
.loan-adjustment-details .loan-increment-wrap .loan-increment-item .cont .prices {
  color: #404A60;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 1399px) {
  .loan-adjustment-details .loan-increment-wrap {
    justify-content: center;
    gap: 14px 20px;
  }
}
@media screen and (max-width: 575px) {
  .loan-adjustment-details .loan-increment-wrap {
    justify-content: flex-start;
  }
}
.loan-adjustment-details .loan-review-details-head {
  margin-bottom: 40px;
}
.loan-adjustment-details .loan-review-details-head .loan-reviews__part-one {
  min-width: 180px;
}
.loan-adjustment-details .loan-review-details-head .price-content {
  max-width: 800px;
}
.loan-adjustment-details .loan-review-details-head .loan-reviews__part-one {
  border: 1px solid #DFE0E4;
  padding: 12px;
  border-radius: 12px;
}
.loan-adjustment-details .loan-review-details-head .loan-reviews__part-three {
  border-radius: 12px;
  border: 1px solid #DFE0E4;
  padding: 24px 24px;
}
.loan-adjustment-details .loan-review-details-head .apply-text {
  line-height: 18px;
  text-wrap: nowrap;
}
@media screen and (max-width: 1199px) {
  .loan-adjustment-details {
    padding: 20px 14px;
  }
  .loan-adjustment-details .loan-increment-wrap {
    gap: 8px 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 32px;
  }
  .loan-adjustment-details .loan-increment-wrap .loan-increment-item {
    display: flex;
    gap: 18px;
  }
  .loan-adjustment-details .loan-increment-wrap .loan-increment-item .cont .amout-titles {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .loan-adjustment-details .loan-increment-wrap .loan-increment-item .cont .prices {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .loan-adjustment-details .loan-review-details-head {
    margin-bottom: 20px;
  }
  .loan-adjustment-details .loan-review-details-head .apply-text {
    line-height: 18px;
    text-wrap: wrap;
    font-size: 14px;
  }
}

.terms-box {
  border-radius: 8px;
  background: rgba(19, 47, 89, 0.05);
  padding: 24px 24px;
}
.terms-box .title {
  font-size: 18px;
  font-weight: 500;
  color: #222E48;
  margin-bottom: 16px;
  display: block;
}
.terms-box ul {
  display: grid;
  gap: 8px;
}
.terms-box ul li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.terms-box ul li .loan-name {
  position: relative;
  font-size: 14px;
  color: #404A60;
  width: 150px;
  display: flex;
  align-items: center;
}
.terms-box ul li .loan-name::before {
  position: absolute;
  right: 0;
  content: ":";
  color: #404A60;
  font-size: 16px;
}
.terms-box ul li .loan-value {
  font-weight: 500;
  color: #222E48;
}
@media screen and (max-width: 1199px) {
  .terms-box {
    padding: 20px 16px;
  }
  .terms-box .title {
    font-size: 16px;
  }
  .terms-box ul li {
    gap: 10px;
  }
  .terms-box ul li .loan-value {
    font-size: 12px;
  }
}

.terms-ratting {
  background: #EB7A23;
  border-radius: 12px;
  height: 100%;
  padding: 20px 18px;
}
.terms-ratting .star-active {
  color: #ffffff;
}
.terms-ratting .rat-title {
  font-weight: 500;
  font-weight: 18px;
}
