
/* ====
 --------- (000) footer styles start ---------
 ==== */
.footer {
    background-image: url("/assets/images/footer/footer-bg2.png");
    position: relative;
    z-index: 0;
}
.footer .footer__title {
    color: #FFF;
}
.footer a, .footer p {
    color: #EBECEF;
}
.footer a {
    gap: 16px;
}
.footer .footer__contact .footer__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer.footer-style2 {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    background-size: cover;
    background-position: center center;
}

.quick-link ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.quick-link ul li:hover a {
    transform: translateX(8px);
    width: 90%;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.footer__copyright {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1176470588);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px 30px;
}
.footer__copyright .footer__copyright-conditions {
    display: flex;
    gap: 8px 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer__copyright .footer__copyright-conditions li a {
    width: -moz-max-content;
    width: max-content;
}
.footer__copyright .footer__copyright-conditions li a:hover {
    color: #FCB650;
}

.footer-section4 {
    padding: 80px 0;
}
@media screen and (max-width: 1500px) {
    .footer-section4 {
        padding: 60px 0;
    }
}

.footer-wrapper4 {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    padding: 60px 60px 32px;
}
.footer-wrapper4 .footer-wrapper4-inner {
    display: flex;
    gap: 40px;
}
.footer-wrapper4 .footer-wrapper4-inner .line {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1500px) {
    .footer-wrapper4 {
        padding: 30px 30px 30px;
    }
    .footer-wrapper4 .footer-wrapper4-inner {
        display: flex;
        gap: 20px;
    }
    .footer-wrapper4 .footer-wrapper4-inner .line {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
}
@media screen and (max-width: 1199px) {
    .footer-wrapper4 {
        padding: 30px 30px 30px;
    }
    .footer-wrapper4 .footer-wrapper4-inner {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .footer-wrapper4 .footer-wrapper4-inner .line {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
}
@media screen and (max-width: 767px) {
    .footer-wrapper4 {
        padding: 30px 30px 30px;
    }
    .footer-wrapper4 .footer-wrapper4-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px 20px;
    }
    .footer-wrapper4 .footer-wrapper4-inner .line {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
}
@media screen and (max-width: 575px) {
    .footer-wrapper4 {
        padding: 30px 30px 30px;
    }
    .footer-wrapper4 .footer-wrapper4-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 20px;
    }
    .footer-wrapper4 .footer-wrapper4-inner .line {
        display: none;
    }
}

.footer-section5 {
    background-color: #000000;
    z-index: 1;
}
.footer-section5 .subscribe-wrapper5 {
    padding-top: 120px;
}
.footer-section5 .subscribe-wrapper5 h2 {
    max-width: 630px;
}
.footer-section5 .subscribe-wrapper5 .footer5-widget ul li:hover {
    color: #EB7A23 !important;
}
.footer-section5 .subscribe-wrapper5 .footer5-widget ul li a:hover {
    color: #EB7A23 !important;
}
.footer-section5 .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-section5 .footer-bottom p a {
    color: #FCB650;
}
.footer-section5 .footer__contact .footer__content .btn_theme {
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.2);
}
.footer-section5 .footer__contact .footer__content .btn_theme i {
    color: #ffffff;
}
.footer-section5 .footer__contact .footer__content .btn_theme:hover {
    background: #2660B5;
}
.footer-section5 .footer__contact .footer__content .btn_theme:hover i {
    color: #FFF;
}
.footer-section5 .input-group {
    width: 100%;
    border-radius: 99px;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: rgba(255, 255, 255, 0.05);
}
@media screen and (max-width: 1199px) {
    .footer-section5 .subscribe-wrapper5 {
        padding-top: 70px;
    }
}

.page-linking li a:hover {
    color: #FCB650 !important;
}

@media (max-width: 1399px) {
    .footer .footer__logo img {
        width: 75%;
    }
}
@media (max-width: 991px) {
    footer .footer__copyright {
        justify-content: center;
        flex-wrap: wrap;
    }
    footer .footer__copyright .copyright {
        order: 2;
    }

}
@media (max-width: 767px) {
    .footer .newsletter__content-form .emailSubscribe {
        padding: 4px 18px;
        margin: 4px;
    }
    .footer .newsletter__content-form .emailSubscribe i {
        font-size: 20px;
    }
    .footer .footer__copyright .footer__copyright-conditions {
        gap: 8px 16px;
    }
}
@media (max-width: 575px) {
    .footer__newsletter-form {
        width: 100%;
    }
    .footer .footer__contact {
        margin: 0;
    }
}