
/* Hero Component */
.hero-section {
    background: url("/assets/images/slider/about.webp");
    color: white;
    position: relative;
    overflow: hidden;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*.hero-section::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -50%;*/
/*    right: -50%;*/
/*    width: 200%;*/
/*    height: 200%;*/
/*    background: url("https://placehold.co/2000x500");*/
/*    !*animation: hero-float 20s infinite linear;*!*/
/*}*/

/*@keyframes hero-float {*/
/*    0% { transform: rotate(0deg); }*/
/*    100% { transform: rotate(360deg); }*/
/*}*/

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    animation: hero-fadeInUp 0.8s ease;
}

.hero-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    opacity: 0.9;
    animation: hero-fadeInUp 0.8s ease 0.2s both;
}

/*@keyframes hero-fadeInUp {*/
/*    from {*/
/*        opacity: 0;*/
/*        transform: translateY(30px);*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

/* Responsive */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .timeline::before {
        right: 20px;
    }

    .timeline-content {
        width: calc(100% - 60px);
        margin-right: 60px !important;
    }

    .timeline-dot {
        right: 20px;
    }
}