
.navbar {
    background-color: white !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-item, .custom-nav-item, .nav-link {
    color: #003d69 !important;
    font-weight: 100 !important;
}


.custom-nav-item {
    min-width: 200px;
    height: 40px;
    padding-top: 10px;
}


.nav-link:hover {
    color: #003d69 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #f3f3f3;
}
